@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background: #0062be;
  font-family: 'Acme', sans-serif;
  color: white;
  transition: 1s ease-in;
}

header {
  padding: 1em 5em 1em 5em;
  display: flex;
  justify-content: space-between;

  .logo {
    img {
      max-width: 80px;
    }
  }

  .nav {
    width: 60vw;

    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      li{
        cursor: pointer;
      }
    }
  }
}

.body {
  padding: 0 5em;
  display: flex;

  justify-content: space-between;

  .text-container {
    width: 50vw;

    h1 {
      font-size: 5em;
      font-weight: bold;
      margin-bottom: 0;

      span {
        font-size: 2em;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 2  em;
    }

    a {
      background-color: #fff;
      padding: .5em 1em;
      color: black;
      text-decoration: none;
      border-radius: 1em;
      
    }
  }
  .thumb{
    list-style: none;
    position: absolute;
    right:  50%;
    bottom: 0;
    display: flex;
    li{
      transition: .5s;
    }
    li:hover{
     transform: translateY(-15px);
    }
    img{
      width: 30px;
      margin-right:1em ;
      cursor: pointer;
    }
  }
}